img{
  width: 100;
  vertical-align: top;
}

.cuadros{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cuadro{
  margin: 4px;
  border: 1px solid dodgerblue;
  cursor: pointer;
  background-size: 85%;
  background-position: center;
  background-repeat: no-repeat;
}

.atras {
  position: relative;
  z-index: -99;
}
